/* hero */
.hero {
  height: 100vh;
  min-height: 600px;
  width: 100%;
  position: relative;
  overflow: auto;
  background-image: url("../resources/art/osu! Halloween 2022 Fanart.webp");
  background-position: top;
  background-size: cover;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.circle-image {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin: auto;
  display: block;
  border: 3px solid #ff4c01;
  box-shadow: 0 0 0 2px #fd9e04;
  margin-top: 100px;
}
.title {
  width: 100%;
  color: white;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: block;
  line-height: 21px;
}
.title h1 {
  font-weight: 700;
  line-height: 60px;
  font-size: 36px;
  text-align: center;
  margin-top: 10px;
}
.title p {
  font-weight: 300;
  font-size: 20px;
  max-width: 30vw;
  margin: auto;
  margin-top: 10px;
}
.title svg {
  margin-top: 21px;
  width: 198px;
  height: 6px;
  background: linear-gradient(94.94deg, #fd9e04, #ff4c01);
  border-radius: 75px;
}
.commission-btn {
  cursor: pointer;
  top: 21px;
  width: 330px;
  line-height: 50px;
  position: relative;
  display: inline-block;
  font-style: bold;
  font-size: 24px;
  font-weight: 800;
  color: white;
  text-decoration: none;
  align-items: center;
  text-align: center;
  background: linear-gradient(94.94deg, #fd9e04, #ff4c01);
  border-radius: 75px;
}
.commission-btn:hover {
  background: white;
  color: black;
}
#osu img {
  filter: invert(1);
}
.external-links {
  margin-top: 15px;
  align-items: center;
}
.external-links img {
  width: 50px;
  height: auto;
}
.external-links ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 4px 4px;
}
.external-links p {
  position: absolute;
  display: block;
  margin-top: -15px;
  color: transparent;
  font-weight: 500;
  font-size: 14px;
}


/* Work/Fanrt Section */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 15px;
}
.image-grid img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}
.image-grid img:hover {
  transform: scale(1.1);
}
.gallery-section {
  padding: 20px;
  background-color: #1f1e22;
}
.gallery-header {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}
.gallery-section h2 {
  font-size: 36px;
}