/* hero */
.hero {
  height: 40vh;
  min-height: 600px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: auto;
  background-image: url("../resources/art/osu! Halloween 2022 Fanart.webp");
  background-position: top;
  background-size: cover;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.rectangle-image {
  width: 20vw;
  height: auto;
  margin-left: -10vw;
}
.title-text {
  margin-left: 5vw;
}
.title {
  width: 60%;
  color: white;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}
.title h1 {
  font-weight: 700;
  line-height: 60px;
  font-size: 36px;
  margin-top: 10px;
}
.title p {
  font-weight: 300;
  font-size: 20px;
  max-width: 30vw;
  margin-top: 10px;
}
