/* Everything */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
}

/* Nav Bar */
.nav-bar {
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
  text-align: center;
  padding: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  color: gray;
  transition: color 0.3s ease;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
}
.nav-link:hover {
  color: lightgray;
}
.active-link {
  color: white;
}

/* Text Bar */
.text-bar {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-content {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  margin-top: auto;
}
