header {
  height: 40vh;

  h1 {
    font-size: 4rem;
    padding-top: 20vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #dedede;
    font-weight: 900;
  }
}

section {
  max-width: 100vw;
  background-color: #1f1f1f;

  h2 {
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #dedede;
  }

  .illustrations-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
    img {
      width: 30vw;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }

  a {
    text-align: center;
    padding: 0.5rem 0.5rem;
    
    &#osu {
      padding-left: 0;
    }

    &.commission-btn {
      cursor: pointer;
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
      display: inline-flex;
      font-size: 1rem;
      color: white;
      justify-content: center;
      text-align: center;
      align-items: center;
      background: none;
      border: none;
    }

    &.commission-btn:hover {
      color: #fd9e04;
      text-decoration: none;
    }
  }
}
