@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInCircleImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  padding-top: 20vh;
  margin-left: 10vw;
  font-weight: 500;
  height: 100vh;
}
header > :not(.circle-image) {
  animation: fadeIn 1.5s cubic-bezier(0.51, 0.07, 0.27, 0.85) 0.2s both;
}
header h1 {
  text-align: left;
  padding-left: 0;
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: 0.02rem;
  color: #fff;
  text-transform: none;
  opacity: 0.85;
  mix-blend-mode: exclusion;
}
header .circle-image {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  border: 3px solid #ff4c01;
  box-shadow: 0 0 0 2px #fd9e04;
  width: clamp(120px, 26vmin, 200px);
  height: clamp(120px, 26vmin, 200px);
  pointer-events: none;
  animation: fadeInCircleImage 1s cubic-bezier(0.51, 0.07, 0.27, 0.85) 0s both;
}
@keyframes avatar {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
header #gallery-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
header ul a {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0.5rem;
}
header ul a#osu {
  padding-left: 0;
}
header ul a.commission-btn {
  cursor: pointer;
  padding: 16px 1.95rem;
  margin-left: 0.5rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background: linear-gradient(94.94deg, #fd9e04, #ff4c01);
  border-radius: 75px;
  white-space: nowrap;
  flex-shrink: 0;
}
header ul a.commission-btn:hover {
  background: white;
  color: black;
}
header ul a img {
  width: 4rem;
  height: 4rem;
}
@media (max-width: 1100px) {
  header {
    flex-direction: column;
    padding-top: 15vh;
    padding-bottom: 5vh;
    margin-left: 0;
    height: auto;
    gap: 1rem;
  }
  header h1 {
    font-size: 2.5rem;
  }
  header .circle-image {
    width: 6rem;
    height: 6rem;
  }
  header #gallery-preview {
    align-items: center;
    text-align: center;
  }
  header ul {
    flex-direction: row;
    scale: 0.8;
    gap: 0.1rem;
  }
  header ul a {
    padding: 0.2rem;
    width: auto;
  }
  header ul a.commission-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    margin-top: -0.5rem;
  }
  header ul a img {
    width: 3rem;
    height: 3rem;
  }
}

#gallery-preview {
  width: 100%;
  padding: 2rem 2rem 0 2rem;
  background-color: #1f1f1f;
}
#gallery-preview .gallery-container {
  position: relative;
  overflow: hidden;
}
#gallery-preview .gallery-scroll {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 1rem;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#gallery-preview .gallery-scroll::-webkit-scrollbar {
  display: none;
}
#gallery-preview .gallery-scroll .gallery-content {
  display: inline-block;
  white-space: nowrap;
}
#gallery-preview .gallery-scroll .gallery-content img {
  display: inline-block;
  width: 30vw;
  height: auto;
  margin-right: 1rem;
}
#gallery-preview .arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 20;
}
#gallery-preview .arrow#left-arrow {
  left: 0;
}
#gallery-preview .arrow#right-arrow {
  right: 0;
}
#gallery-preview .arrow:hover {
  background: rgba(0, 0, 0, 0.7);
}
#gallery-preview .button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
#gallery-preview .button-container a {
  cursor: pointer;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-flex;
  font-size: 1rem;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: none;
  border: none;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
}
#gallery-preview .button-container a:hover {
  color: #fd9e04;
  text-decoration: none;
}

.hidden {
  display: none;
}

@media (max-width: 575px) {
  header h1 {
    text-align: center;
  }
  header ul {
    scale: 0.65;
  }
  header ul a.commission-btn {
    padding: 0.8rem;
    margin-top: -0.2rem;
  }
  #gallery-preview {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  #gallery-preview .arrow {
    top: 32%;
    font-size: 1rem;
  }
  #gallery-preview .gallery-scroll .gallery-content img {
    width: 45vw;
    margin-right: 0.5rem;
  }
  .info-box-container {
    margin: 2rem;
  }
  .info-box-container .info-box {
    width: 80vw;
    padding: 1rem;
  }
}/*# sourceMappingURL=index.css.map */