@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInCircleImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  padding-top: 20vh;
  margin-left: 10vw;
  font-weight: 500;
  height: 100vh;

  > :not(.circle-image) {
    animation: fadeIn 1.5s cubic-bezier(0.51, 0.07, 0.27, 0.85) 0.2s both;
  }

  h1 {
    text-align: left;
    padding-left: 0;
    font-weight: 800;
    font-size: 5rem;
    letter-spacing: 0.02rem;
    color: #fff;
    text-transform: none;
    opacity: 0.85;
    mix-blend-mode: exclusion;
  }

  .circle-image {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    border: 3px solid #ff4c01;
    box-shadow: 0 0 0 2px #fd9e04;
    width: clamp(120px, 26vmin, 200px);
    height: clamp(120px, 26vmin, 200px);
    pointer-events: none;
    animation: fadeInCircleImage 1s cubic-bezier(0.51, 0.07, 0.27, 0.85) 0s both;
  }

  @keyframes avatar {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  #gallery-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    a {
      width: 100%;
      text-align: center;
      padding: 0.5rem 0.5rem;

      &#osu {
        padding-left: 0;
      }

      &.commission-btn {
        cursor: pointer;
        padding: 16px 1.95rem;
        margin-left: 0.5rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 800;
        color: white;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        background: linear-gradient(94.94deg, #fd9e04, #ff4c01);
        border-radius: 75px;
        white-space: nowrap; // Prevents text from wrapping
        flex-shrink: 0; // Prevents the button from shrinking
        &:hover {
          background: white;
          color: black;
        }
      }

      img {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  // For smaller devices
  @media (max-width: 1100px) {
    flex-direction: column;
    padding-top: 15vh;
    padding-bottom: 5vh;
    margin-left: 0;
    height: auto;
    gap: 1rem;

    h1 {
      font-size: 2.5rem;
    }

    .circle-image {
      width: 6rem;
      height: 6rem;
    }

    #gallery-preview {
      align-items: center;
      text-align: center;
    }

    ul {
      flex-direction: row;
      scale: 0.8;
      gap: 0.1rem;

      a {
        padding: 0.2rem;
        width: auto;

        &.commission-btn {
          width: 100%;
          padding: 1rem;
          font-size: 1.2rem;
          margin-top: -0.5rem;
        }

        img {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
}

.gallery-container {
  width: 100%;
  padding: 2rem 2rem 0 2rem;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden; // Hide overflow to keep arrows outside the scrollable area

  .gallery-scroll {
    display: flex;
    overflow-x: scroll; // Allow horizontal scrolling
    padding-bottom: 1rem;
    scroll-behavior: smooth;

    // Hide scrollbar for IE, Edge and Firefox
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
      display: none;
    }

    .gallery-content {
      display: inline-block;
      white-space: nowrap;

      img {
        display: inline-block;
        width: 30vw;
        height: auto;
        margin-right: 1rem;
        // object-fit: cover;
        // flex-shrink: 0; // Prevent images from shrinking}
        // These lines not needed after scroll update :3
      }
    }
  }

  .arrow {
    position: absolute; // Position arrows absolutely
    top: 40%; // Center vertically
    transform: translateY(-50%); // Adjust for perfect centering
    background: rgba(0, 0, 0, 0.3); // Semi-transparent background
    color: #fff;
    border: none;
    font-size: 2rem; // Adjust size as needed
    padding: 0.5rem; // Add padding for clickable area
    cursor: pointer;
    z-index: 20; // Ensure arrows are above the images and background

    &#left-arrow {
      left: 0; // Position outside the left edge
    }

    &#right-arrow {
      right: 0; // Position outside the right edge
    }

    &:hover {
      background: rgba(0, 0, 0, 0.7); // Darken on hover
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    a {
      cursor: pointer;
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
      display: inline-flex;
      font-size: 1rem;
      color: white;
      justify-content: center;
      text-align: center;
      align-items: center;
      background: none;
      border: none;
      text-decoration: none;
      padding: 0.5rem 0.5rem;

      &:hover {
        color: #fd9e04;
        text-decoration: none;
      }
    }
  }

  .arrow {
    top: 32%;
    font-size: 1rem;
  }
}

.hidden {
  display: none;
}

// Some mobile fixes
@media (max-width: 575px) {
  header {
    ul {
      scale: 0.65;
      a.commission-btn {
        padding: 0.8rem;
        margin-top: -0.2rem;
      }
    }
  }
  .gallery-container {
    padding: 1.5rem 1.5rem 0 1.5rem;
    .gallery-scroll {
      .gallery-content {
        img {
          width: 45vw;
          margin-right: 0.5rem;
        }
      }
    }
  }
  .info-box-container {
    margin: 2rem;
    .info-box {
      width: 80vw;
      padding: 1rem;
    }
  }
}

.title-info-container {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .title-info {
    width: 50vw;
    background-color: #222222a9;
    color: #ffffff;
    border-radius: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .content {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 2rem;

      .image {
        width: 20%;
        img {
          width: 80%;
          height: auto;
          border-radius: 6rem;
          object-fit: cover;
        }
      }
      .text {
        width: 80%;
        text-align: left;
        p {
          font-size: 1.5rem;
          line-height: 1.8;
        }
      }
    }
  }
}
